<div class="container-md m-3">
<h2>Edit task</h2>
<%= render 'form', task: @task %>
<hr>
<div class="d-flex align-items-center">
<i class="fas fa-undo-alt pr-1 text-primary"></i>
<%= link_to 'go back', tasks_path %>
</div>
</div>


