<div class="container-md">
<h1 class="mb-3">My tasks:</h1>
  <% @tasks.each do |task| %>
<div class="d-flex">
    <p><% if task.completed == true %>
      <input type="checkbox" disabled="disabled" checked>
      <% else %>
      <input type="checkbox" disabled="disabled">
      <% end %>
    </p>
    <p class="pl-3"> <%= link_to task.title, task_path(task) %></p>
      <p><%= link_to task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" } do %>
        <i class="far fa-trash-alt pl-3"></i>
          <% end %>
        </p>
</div>
  <% end %>
  <hr>
<div class="d-flex align-items-center">
<i class="fas fa-plus pr-1 text-primary"></i>
<%= link_to 'Create new task', new_task_path %>
</div>
</div>

