<div class="container-fluid bg-light">
  <div class="row vh-100">
    <div class="col-md-6 mx-auto my-auto p-3 bg-white border border-white rounded-lg shadow">
      <h3 class="font-weight-normal">Your task:</h3>
      <h2 class="text-primary"><%= @task.title %></h2>
      <p><u>What:</u> <%= @task.details %></p>
      <p><% if @task.completed == true %>
            <input type="checkbox" disabled="disabled" checked>
            <label class="text-success">This task has been completed</label>
            <% else %>
            <input type="checkbox" disabled="disabled">
            <label class="text-danger">This task hasn't been completed yet</label>
            <% end %>
      </p>
        <%= link_to 'Edit your task', edit_task_path, class: 'btn btn-primary' %>

      <hr>
      <%= link_to tasks_path do %>
        <div class="d-flex align-items-center ">
          <i class="fas fa-undo-alt pr-2 text-primary"></i>
          <span>Go back</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
