<div class="container-md mt-3">
  <h2>Your task:</h2>
  <h2><%= @task.title %></h2>
  <p>What: <%= @task.details %></p>
  <p><% if @task.completed == true %>
        <input type="checkbox" disabled="disabled" checked>
        <label>This task has been completed</label>
        <% else %>
        <input type="checkbox" disabled="disabled">
        <label>This task hasn't been completed yet</label>
        <% end %>
  </p>
<%= link_to 'Edit your task', edit_task_path, class: 'btn btn-primary' %>

  <hr>
 <div class="d-flex align-items-center">
<i class="fas fa-undo-alt pr-1 text-primary"></i>
<%= link_to 'go back', tasks_path %>
</div>
</div>
